
.navbar{
    background: linear-gradient(to right, #4D2F93 0%, #0E449C 100%);
}
.btn .btn-light .custom {
    width: 100% !important;
    text-align: left
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu a:hover {background-color: #f1f1f1;}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-item a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.footer-top { padding: 0;  background: linear-gradient(to right, #4D2F93 50%, #0E449C 100%); text-align: left; color: #aaa; }
.footer-top h3 { padding-bottom: 0; color: #fff; }

.footer-about img.logo-footer { max-width: 250px; margin-top: 0; margin-bottom: 10px; }
.footer-about p a { color: #aaa; border-bottom: 1px dashed #666; }
.footer-about p a:hover, .footer-about p a:focus { color: #fff; border-color: #aaa; }

.footer-contact p { word-wrap: break-word; }
.footer-contact i { padding-right: 10px; font-size: 18px; color: #fff; }
.footer-contact p a { color: #aaa; border-bottom: 1px dashed #666; }
.footer-contact p a:hover, .footer-contact p a:focus { color: #fff; border-color: #aaa; }


.navbar-dark {background: linear-gradient(to right, #4D2F93 0%, #0E449C 100%)}

.navbar-dark .navbar-nav { font-size: 15px; color: #fff; font-weight: 400; }
.navbar-dark .navbar-nav .nav-link { color: #fff; border: 0; }
.navbar-dark .navbar-nav .nav-link:hover { color: #aaa; }
.navbar-dark .navbar-nav .nav-link:focus { color: #aaa; outline: 0; }

.navbar-expand-md .navbar-nav .nav-link { padding-left: 1rem; padding-right: 1rem; }